*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.navber {
    background-color: black;
    
    

}
.navber {
    color: white;
}
.navber ul{
    list-style-type: none;
    display: flex;
}

    

.navber ul li a{
    color: white;
    text-decoration: none;
    padding: 24px 36px;
    display: block;
    font-size: 22px;
    transition: .5s;

}
.navber ul li a:hover {
    background-color: red;
    
}
/* header start */
header {
    background: wheat;
    background: url(img/header-bg-1.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size:cover;
}
.header-container{
    text-align: center;
    padding: 250px 0;
}
h2.sub-h {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 12px;
    color: white;
}
h1.heading-ff {
    font-size: 72px;
    padding-bottom: 20px;
    color: white;
}
.heading {
    font-size: 26px;
    background: yellow;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    color:blue;
}
.heading:hover {
    background: rgba(87, 87, 30, 0.308);
    transition: .5s;
}
/*body start*/
.service {
    text-align: center;
    padding-top: 100px;

}
.servi {
    font-weight: 800;
    font-size:50px;
    padding-bottom: 10px;
}
.lorem {
    font-size: 30px;
    font-style: italic;
}

*/service name*/


#service-name {
    
    padding: 0 20%;
}
.qqq{
    display: flex;
    padding: 10px 50px ;
    gap: 30px;
    background: rgb(252 242 242);
}

.web-security {
    text-align: center;
    padding-top: 26px;
    font-size: 36px;
}
.lorem-ispsum {
    text-align: center;
    padding-top: 10px;
}



#product {
    padding: 1% 15%;
    background: rgb(231, 204, 204);
    
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.products {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    border-radius: 10px;
}

.bbb {
    font-size: 50px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.ccc {
    font-size: 30px;
    font-style: italic;
}
.single-products {
    max-width: 300px;
    border: 1px solid red;
    background: #eee7e7;
    
}
.productmeta {
    text-align: center;
    padding: 16px 10px;
}
.mmm {
    padding-top: 50px;
}

